---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navbar />
  <div class="container mx-auto mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <!-- Titulo de la pagina -->
      <h1 class="text-center text-3xl font-bold col-span-2">
        Cauz | Foro y Libreria
      </h1>
    </div>
  </div>
</Layout>
